root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4

[*.{cmd,bat}]
end_of_line = crlf

[*.md]
trim_trailing_whitespace = false

[*.{yaml,yml,toml}]
indent_size = 2

[.git{attributes,ignore,keep}]
insert_final_newline = false

[*.text]
end_of_line = lf
insert_final_newline = false
